.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 1 !important;
  display: flex;
}

.containerboxes {
  max-width: 400px !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxData {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.boxData div {
  background-color: #ffffffc5;
  border: 2px solid rgba(255, 255, 255, 0.786);
  border-radius: 10px;
  width: 80px;
  height: 80px;
}

.boxData div:hover {
  cursor: pointer;
}
